
@font-face {
  font-family: abel;
  src: url("Abel-Regular.ttf");
}
html, body{
    max-width: 100%;
    font-size: 100%;
    background-color: black;
    font-family: abel;
    font-weight: normal;
    overflow-x: hidden;
}

section {
    height: 100vh;
    width: 100vw;
    background-color: black;

}
/* on Palm */
@media (max-aspect-ratio: 2/3){
    .contact_button{
        transform: translate(-50%, -50%);
        font-weight: normal;
        position: fixed;
        text-anchor: middle;
        left:50vw;
        top: 80vh;
        border-color: white;
        border-width: 3px;
        border-radius: 20px;
        color: white;
        background-color: Transparent;
        font-size: 6vw;
        transition: .5s;
        outline: 0;
        z-index: 10
    }

    .contact_button:hover {
      background-color: white;
      color: black;
    }

    .header{
        margin-top: 1vw;
    }

    .footer{
        position: absolute;
        top: 95vh;
    }
    p{
        line-height: normal;
    }
    details{
        color: grey;
        position:relative;
        line-height: 1px;
        margin: 5px;
    }
    summary{
        font-size: 3.5vw;
    }
    .title{
        font-weight: normal;
        text-align: center;
        margin-top: 5vh;
        margin-bottom: -2vh;
        position: relative;
        color: white;
        font-size: 17vw;
        transition: .5s;
    }
    .content{
        font-weight: normal;
        text-align: center;
        transform: translate(-50%, -50%);
        left: 50vw;
        color: grey;
        margin-top: 14vh;
        font-size: 3.5vw;
        position: relative;
        transition: .5s;
    }
    .subtitle{
        font-weight: normal;
        text-align: center;
        margin-top: 0vh;
        margin-bottom: 9vw;
        color: white;
        font-size: 4.5vw;
        position: relative;
        transition: .5s;
    }

    img {
       align-content: center;
       filter: invert();
       transform: translate(-50%, -50%);
       left: 50%;
       width: 25vw;
       margin-top: 20vh;
       position: relative;
       transition: .5s;
    }
}
/* on Desktop */
@media (min-aspect-ratio: 2/3){
    .contact_button{
        transform: translate(-50%, -50%);
        font-weight: normal;
        position: fixed;
        text-anchor: middle;
        left:50vw;
        top: 95vh;
        border-color: white;
        border-width: 3px;
        border-radius: 20px;
        color: white;
        background-color: Transparent;
        font-size: 2.5vw;
        transition: .5s;
        outline: 0;
        z-index: 10
    }

    .contact_button:hover {
      background-color: white;
      color: black;
    }

    .header{
        margin-top: 1vw;
    }

    .footer{
        position: absolute;
        top: 94vh;
    }
    p{
        line-height: normal;
    }
    details{
        color: grey;
        position:relative;
        line-height: 1px;
        margin: 5px;
    }
    summary{
        font-size: 1.5vw;
    }
    .title{
        font-weight: normal;
        text-align: center;
        margin-top: -5vw;
        margin-bottom: 0vh;
        position: relative;
        color: white;
        font-size: 12vw;
        transition: .5s;
    }
    .content{
        font-weight: normal;
        text-align: center;
        transform: translate(-50%, -50%);
        left: 50vw;
        color: grey;
        margin-top: 10vh;
        font-size: 1.5vw;
        position: relative;
        transition: .5s;
    }
    .subtitle{
        font-weight: normal;
        text-align: center;
        margin-top: -4vh;
        margin-bottom: 9vw;
        color: white;
        font-size: 2.5vw;
        position: relative;
        transition: .5s;
    }

    img {
        align-content: center;
       filter: invert();
       transform: translate(-50%, -50%);
       left: 50%;
       width: 10vw;
       margin-top: 25vh;
       position: relative;
       transition: .5s;
    }
}
