
@font-face {
	font-family: abel;
	src: url("Abel-Regular.ttf");
  }
  :root {
	--bgColor: #000000;
	--highlight: #F5DF4D;
	--textColor: #ffffff;
  }
  
  html, body{
	  overflow-x: hidden;
	  max-width: 100%;s
	  overflow-x: hidden;
	  font-size: 100%;
	  background-color: var(--bgColor);
	  font-family: abel;
	  font-weight: normal;
  }
  
  /* NAVBAR */
  
  ul.nav {
	left: 0;
	list-style-type:none;
	margin: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: auto;
	z-index: 10;
  }
  
  li.nav {
	float: left;
	background-color: var(--bgColor);
	margin-left: 1vw;
	border-style: solid;
	border-radius: 5px;
	border-color: var(--textColor);;
	border-width: 2px;
  }
  
  li a {
	margin: 1%;
	padding: 0%;
	color: var(--textColor);;
	text-align: center;
	padding: 1vw 1vw;
	text-decoration: none;
  }
  
  li a.button:hover {
	background-color: var(--highlight);
	color: var(--bgColor);
  }
  .button{
	margin: 0px;
	padding: 0.2vw;
	display: block;
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	color: var(--textColor);;
	font-size: 4vw;
	transition: 0.35s;
}

  /* END NAVBAR */

  img{
	  object-fit: contain;
	  width: 90vw;
	  position: absolute;
	  transform: translate(-50%, -0%);
	  left: 50vw;
	  top: 33.3vh;
  }
  
  section {
	  height: 100vh;
	  width: 100%;
	  box-sizing: border-box;
  }

  .container{
	  width: 100%;
	  position: relative;
  }
  .header{
	  position: fixed;
  }

  h1{
	  font-weight: normal;
	  margin:0;
	  padding: 0;
	  border: 0;
	  position: absolute;
	  text-decoration: none;
	  color: var(--textColor);;
	  font-size: 20vw;
  }
  
  .title{
	font-size: 16vw;
	top:50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
  }

  img {
	 height: 33.3%;
	 top: 33.3%;
	 position: absolute;
  }
  .start{
	  text-align: center;
	  position: absolute;
	  width: 100%;
	  top: 85vh;
	  height: 30%;
  }
  .content{
	  padding-left: 1%;
	  padding-right: 1%;
	  padding-bottom: 1%;
	  position: absolute;
	  width: 100%;
	  top: 33.3%;
	  align-content: center;
	  border-color: var(--textColor);;
	  border-style: solid;
	  border-width: 2px;
  }

  .tabbed{
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	position: absolute;
	width: 100%;
	top: 33.3%;
	align-content: center;
	border-color: var(--textColor);;
	border-style: solid;
	border-width: 2px;
  }

.tabbed > input,
.tabbed figure > div { display: none; }

.tabbed figure>div {
  padding: 20px;
  width: 100%;
  background: var(--bgColor);
  line-height: 1.5em;
  letter-spacing: 0.3px;
  color: #444;
}
#tab1:checked ~ figure .tab1,
#tab2:checked ~ figure .tab2,
#tab3:checked ~ figure .tab3 { display: block; }

/* nav label {
	float: left;
	padding: 15px 15px;
	border-top: 1px solid silver;
	border-right: 1px solid silver;
	background: hsl(210,50%,50%);
	color: #eee;
 }
  */
 nav label:nth-child(1) { border-left: 1px solid silver; }
 nav label:hover { background: hsl(210,50%,40%); }
 nav label:active { background: #ffffff; }
 
 #tab1:checked ~ nav label[for="tab1"],
 #tab2:checked ~ nav label[for="tab2"],
 #tab3:checked ~ nav label[for="tab3"] {
   background: white;
   color: #111;
   position: relative;
   border-bottom: none;
 }
 
 #tab1:checked ~ nav label[for="tab1"]:after,
 #tab2:checked ~ nav label[for="tab2"]:after,
 #tab3:checked ~ nav label[for="tab3"]:after {
   content: "";
   display: block;
   position: absolute;
   height: 2px;
   width: 100%;
   background: white;
   left: 0;
   bottom: -1px;
 }
  h2{
	  left: 50vw;
	  transform: translate(-50%, -50%);
	  font-weight: normal;
	  font-size: 4vw;
	  text-align: center;
	  color: var(--bgColor);
	  display: inline-block;
	  background-color:  var(--highlight);
	  border-radius: 5px;
	  margin: 0;
	  position: relative;
	  width: 33.333%;
  }
  h2.tab{

  }
  
  p{
	  font-weight: normal;
	  text-align: center;
	  color: var(--textColor);;
	  font-size: 2vw;
	  position: relative;
  }
  ul.social{
	list-style-type:none;
	transform: translate(-50%, 0%);
	float: left;
	padding: 0px;
	margin: 0px;
	width: auto;
	position: relative;
	left: 50vw;
  }
  li.social{
	float: left;
	margin-left: 1vw;
	border-style: solid;
	border-radius: 5px;
	border-color: var(--textColor);;
  }
  .link{
	text-align: center;
	font-weight: normal;
	position: relative;
	text-decoration: none;
	color: var(--textColor);;
	font-size:2vw;
	transition: 0.35s;
  }
  a.link:hover {
	color: var(--bgColor);
	background-color: var(--textColor);;
  }
  .date{
	  font-weight: normal;
	  margin: 0;
	  border: 0;
	  font-size: 3vw;
  }
  
  ul.text{
	  text-align: left;
  }
  li.text{
	  margin-top: 1vh;
	  font-size: 1.5vw;
	  color: var(--textColor);
  }
  p.subheading{
	text-align: left;
	font-size: 2vw;
  }

  p.text{
	  text-align: left;
	font-size: 1.5vw;
  }
  .anchor{
	  height: 1%;
	  top: 50%;
	  alpha:0;
	  text-align:right;
  }
  