
@font-face {
	font-family: abel;
	src: url("Abel-Regular.ttf");
  }
  @media (orientation: portrait) {
  :root {
	--bgColor: #000000;
	--highlight: #F5DF4D;
	--textColor: #939597;
	--grey: #939597;
	--small: 3vw; 
	--medium: 4vw;
	--top_content_padding: 10vh;
	--button-size: 6vw;
	}
  }

@media (orientation: landscape) {
	:root {
		--bgColor: #000000;
		--highlight: #F5DF4D;
		--textColor: #939597;
		--grey: #939597;
		--small: 1.5vw; 
		--medium: 2vw;
		--top_content_padding: 33.3vh;
		--figure-padding: 10px;
		--button-size: 4vw;
	  }
  }
  
  html, body{
	  overflow-x: hidden;
	  max-width: 100%;s
	  overflow-x: hidden;
	  font-size: 100%;
	  background-color: var(--bgColor);
	  font-family: abel;
	  font-weight: normal;
  }
  
  /* NAVBAR */
  
  ul.nav {
	left: 0;
	list-style-type:none;
	margin: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: auto;
	z-index: 10;
  }
  
  li.nav {
	float: left;
	background-color: var(--bgColor);
	margin-left: 1vw;
	margin-top: 2vh;
	border-style: solid;
	border-radius: 5px;
	border-color: var(--textColor);;
	border-width: 2px;
  }
  
  li a {
	margin: 1%;
	padding: 0%;
	color: var(--textColor);;
	text-align: center;
	text-decoration: none;
  }
  
  li a.button:hover {
	background-color: var(--highlight);
	color: var(--bgColor);
  }
  .button{
	margin: 0px;
	padding: 0.2vw;
	display: block;
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	color: var(--textColor);;
	font-size: var(--button-size);
	transition: 0.35s;
}

  /* END NAVBAR */

  img{
	  object-fit: contain;
	  width: 90vw;
	  position: absolute;
	  transform: translate(-50%, -0%);
	  left: 50vw;
	  top: 33.3vh;
  }
  
  section {
	  height: 100vh;
	  width: 100%;
	  box-sizing: border-box;
  }
@media (orientation: portrait) {
	#app{
		height: 30vh;
		width: 100%;
		box-sizing: border-box;
	}
	#about{
		height: 60vh;
		width: 100%;
		box-sizing: border-box;
	}
}
  .container{
	  width: 100%;
	  position: relative;
  }
  .header{
	  position: fixed;
  }

  h1{
	  font-weight: normal;
	  margin:0;
	  padding: 0;
	  border: 0;
	  position: absolute;
	  text-decoration: none;
	  color: var(--textColor);;
	  font-size: 20vw;
  }
  
  .title{
	color: var(--grey);
	font-size: 16vw;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

  img {
	 height: 33.3%;
	 top: 33.3%;
	 position: absolute;
  }
  .start{
	  text-align: center;
	  position: absolute;
	  width: 100%;
	  top: 85vh;
	  height: 30%;
  }
  .content{
	  padding-left: 1%;
	  padding-right: 1%;
	  padding-bottom: 1%;
	  position: absolute;
	  width: 97%;
	  top: var(--top_content_padding);
	  align-content: center;
	  border-color: var(--textColor);;
	  border-style: solid;
	  border-width: 2px;
  }

  .tabbed{
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	position: absolute;
	width: 97%;
	top: var(--top_content_padding);
	align-content: center;
	border-color: var(--textColor);;
	border-style: solid;
	border-width: 2px;
  }

.tabbed > input,
.tabbed figure > div { display: none; }
.tabbed figure{
	margin: 5px;
	padding: 0px;
}
.tabbed figure>div {
  padding: 0px;
  width: 100%;
  background: var(--bgColor);
  line-height: 1.5em;
  letter-spacing: 0.3px;
  color: #444;
}
#tab1:checked ~ figure .tab1,
#tab2:checked ~ figure .tab2,
#tab3:checked ~ figure .tab3 { display: block; }

/* nav label {
	float: left;
	padding: 15px 15px;
	border-top: 1px solid silver;
	border-right: 1px solid silver;
	background: hsl(210,50%,50%);
	color: #eee;
 }
  */
 nav label:nth-child(1) { border-left: 1px solid silver; }
 nav label:hover { 
	 background: white;
	 color: var(--highlight);
}
 nav label:active { background: var(--highlight); }
 
 #tab1:checked ~ nav label[for="tab1"],
 #tab2:checked ~ nav label[for="tab2"],
 #tab3:checked ~ nav label[for="tab3"] {
   background: var(--highlight);
   color: #111;
   position: relative;
   border-bottom: none;
 }
 
 #tab1:checked ~ nav label[for="tab1"]:after,
 #tab2:checked ~ nav label[for="tab2"]:after,
 #tab3:checked ~ nav label[for="tab3"]:after {
   content: "";
   display: block;
   position: absolute;
   height: 2px;
   background: white;
   left: 0;
   border-bottom: none;
 }
  h2{
	  left: 50vw;
	  transform: translate(-50%, -50%);
	  font-weight: normal;
	  font-size: 4vw;
	  text-align: center;
	  color: var(--bgColor);
	  display: inline-block;
	  background-color:  var(--highlight);
	  border-radius: 5px;
	  margin: 0;
	  position: relative;
	  width: auto;
	  padding-left: 1vw;
	  padding-right: 1vw;
  }
 
  nav{
	  width: auto;
		transform: translate(-50%, 0%);
		position:relative;
		left: 55%;
  }
  
  label{
	  transform: translate(0%, -50%);
	  font-weight: normal;
	  font-size: 4vw;
	  text-align: center;
	  color: var(--bgColor);
	  display: inline-block;
	  background-color:  var(--grey);
	  border-radius: 5px;
	  border-width: 0px;
	  margin: 0;
	  position: relative;
	  width: 30%;
	  transition: 0.2s;
  }
  
  p{	
	  font-weight: normal;
	  text-align: center;
	  color: var(--textColor);;
	  font-size: 2vw;
	  position: relative;
	  @media (orientation: portrait) { 
		flex-wrap: 6vw;
	  }
  }
  ul.social_ul{
	list-style-type:none;
	transform: translate(-50%, 0%);
	float: left;
	padding: 0px;
	margin: 0px;
	width: auto;
	position: relative;
	left: 50vw;
  }
  li.social_li{
	float: left;
	margin-left: 1vw;
	padding: 1vh 4vw;
	border-style: solid;
	border-radius: 5px;
	border-color: var(--textColor);;
  }
  li.social_li:hover{
	  background-color: var(--highlight);
  }
  .link{
	text-align: center;
	font-weight: normal;
	position: relative;
	text-decoration: none;
	color: var(--textColor);;
	font-size: var(--medium);
	transition: 0.35s;
  }
  /* a.link:hover {
	color: var(--bgColor);
	background-color: var(--textColor);;
  } */
  .date{
	  font-weight: normal;
	  margin: 0;
	  border: 0;
	  font-size: 3vw;
  }
  
  ul.text{
	  text-align: left;
  }
  li.text{
	  margin-top: 1vh;
	  font-size: var(--small);
	  color: var(--textColor);
  }
  p.subheading{
	text-align: left;
	font-size: 2vw;
  }

  p.text{
	  text-align: left;
	  font-size: var(--small);
  }

  /* @media (orientation: portrait) {
	p.text{
	text-align: left;
	  font-size: 3vw;
	}
  } */
  .anchor{
	  height: 1%;
	  top: 50%;
	  alpha:0;
	  text-align:right;
  }


  /* PERSON */
  .people{
	padding: 2%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5vh;
  }
  .person{
	
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
  }
  .avatar {
	transform: translate(0%, 0%);
	position: relative;
	left: 0%;
    object-fit: cover;
    width: 10vw;
	height: 10vw;
    margin-right: 0.1vw;
    border-radius: 50%;
}

.bio{
	color: var(--textColor);
	font-size: var(--small);
	padding-left: 5%;
}

.name {
	padding-left: 5%;
	font-size: 2vw;
    color: var(--highlight);
}
.vertical{
	display: block;
}

/* IMPRESSUM */
details{
	margin-top: 10px;
	color: var(--textColor);
}
summary{
	text-align: center;
	color: var(--textColor);
	margin-top: 0px;
	font-size: var(--small);
}
h1.imp{
	color: var(--textColor);
	text-align: left;
	position: relative;
	font-size: 5em;
}
h2.imp{
	all: initial;
	background-color: ;
	color: var(--textColor);
	text-align: left;
	position: relative;
	font-size: 3em;
}
h3.imp{
	color: var(--textColor);
	text-align: left;
	position: relative;
	font-size: 2em;
}
p.imp{
	color: var(--textColor);
	text-align: left;
	position: relative;
	font-size: 1em;
}